/*mini body reset*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
}

* {
    box-sizing: border-box;
}

.mainheader {
    background-color:rgb(227, 217, 243);
    padding: 2rem;
    color: rgb(41, 41, 63);
}

.mainheader div {
    margin: 2rem;
    position: relative;
}

.mainheader p {
    margin-bottom: 0;
    margin-top: 0.2rem;
}

h1 {
    margin: 0;
    padding: 0;
}

.mainfooter {
    background-color:rgb(227, 217, 243);
    color: rgb(41, 41, 63);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.content-wrapper {
    margin: 2rem;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainmenu li {
    display: inline-block;
}

.mainmenu a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

.mainmenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.mainmenu {
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
}

.socialmenu {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
}

.socialmenu li {
    display: inline;
}

.socialmenu a {
    color: inherit;
    text-decoration: none;
    padding: 0.5rem;
}

h1, h2 {
    font-family: 'Slabo 27px', serif;
}


/*Separating CSS and having multiple classes can be very helpful.*/