body {
    background-color: aliceblue;
}

nav {
    color: grey;
    font-family: Candara;
    font-size: 15px;

}

.header {
    color: darkkhaki;
    font-family: Verdana;
    font-size: 20px;
}

h2 {
    color: darkslategray;
    font-family: Candara;
    font-size: 20px;
}

h3 {
    color: grey;
    font-family: Calibri;
    font-size: 15px;
}

p,
li {
    color: black;
    font-family: Calibri;
    font-size: 14px;
}

.content-wrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}

#miku {
    width: 26%;
}

#fennec {
    width: 40%;
}

#merlin {
    width: 26%;
}

#dante {
    width: 27%;
}

#logo,
embed {
    width: 25%;
}

figure {
    margin: 0;
    padding: 0;
}

video {
    width: 100%;
}
.form {
    display: block;
    margin: 0.5rem;
}

#field {
    width: 40%;
}

button {
    margin-top: 0.5rem;
}