body {
    background-color: lightpink;
}

p {
    font-family: Verdana;
    font-size: 15px;
    color: black;
}

h1 {
    font-family: Georgia;
    font-size: 20px;
    color: chocolate;
}

a {
    color: chocolate;
}

img {
    width: 45%;
}