/*viewport height (vh) and viewport weight (wh). this can cause an overflow problem.*/
section {
    font-size: 0.9em;
    background-color: rgb(187, 206, 170);
    width: 50%;
    min-height: 80vh;
    /* height: 80vh;
    overflow:scroll; */

}

div {
    font-size: 0.9em;
}

/*browser size standard is 16px
pixels are absolute values and for accessibility reasons they shouldnt be used*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem; 
    /* font-size: 12px; */
    padding: 1rem;
    /*padding: 2em;*/
}

/*ems are proportional to the parent and not stable. rems reach to the root.*/
/*cannot have child elements affect the behavior of its parent element(s)*/