section {
    font-size: 0.9em;
}

div {
    font-size: 0.9em;
}

/*browser size standard is 16px
pixels are absolute values and for accessibility reasons they shouldnt be used*/
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem; 
    /* font-size: 12px; */
    padding: 2rem;
    /*padding: 2em;*/
}

/*ems are proportional to the parent and not stable. rems reach to the root.*/

.effect:hover .target {
    color: blueviolet;
}

/*cannot have child elements affect the behavior of its parent element(s)*/