header {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: brown;
    color: bisque;
    align-items: center;
}

header h1 {
    text-align: center;
    margin: 0;
    width: 90%;

}

header div {
    width: 10%;
}

header div img {
    max-width: 100%;
}